* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

body {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 80vw;
    max-width: 400px;
    height: 380px;
    background: #1a1a2e;
    border-radius: 10px;
    box-shadow: 1px 5px 20px #4682f3, -1px -5px 20px #244a68, 0 0 4px #23a6d5;
    display: flex;
    flex-direction: column;
}

.display {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display input {
    width: 96%;
    height: 50px;
    padding: 10px;
    font-size: 28px;
    border-radius: 10px;
    border: none;
    background: #e4eaf4;
    color: #1a1a2e;
    text-align: right;
    box-shadow: 0px 3px 6px #00000029;
}

.buttons {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.row button {
    width: 18%;
    height: 80%;
    background: transparent;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.8), -1px -1px 20px #23a6d5;
    cursor: pointer;
    transition: background 0.2s, opacity 0.2s, font-size 0.1s;
}
.row-1 button, .row #equal {
    background: #ff7043;
    color: #fff;
}
#equal {
    width: 40%;
}

.row button:hover {
    box-shadow: inset 0 0 10px #ffffff55;
    font-size: 18px;
    opacity: 0.8;
}

@media (max-width: 500px) {
    .calculator {
        width: 98vw;
        min-width: 200px;
        height: 90vw;
        max-height: 95vh;
    }
    .display input {
        font-size: 18px;
    }
}
